<!doctype html>
<html lang="en" ng-app='myApp'>
<head>
    <meta charset="UTF-8">
    <title>Multiplication Table</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
    <link rel="icon" href="favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" type="text/javascript"></script>
</head>
<body ng-app="">
    <div class="app" ng-controller="myCtrl">
        <div class="container">
            <div class="half dark">
                <h3>Enter Meal Details</h3>
                <form name="myForm" ng-submit="submit()">
                    <div>
                        <p class="error" ng-if="myForm.base.$error.pattern">Base must be a number</p>
                        <input type="text" name="base" ng-model="data.base" ng-pattern="/[0-9]/" placeholder="Base price"/>
                    </div>
                    <div>
                        <p class="error" ng-if="myForm.tax.$error.pattern">Tax rate must be a number</p>
                        <input type="text" name="tax" ng-model="data.taxRate" ng-pattern="/[0-9]/" placeholder="Tax rate" />
                    </div>
                    <div>
                        <p class="error" ng-if="myForm.tip.$error.pattern">Tip percentage must be a number</p>
                        <input type="text" name="tip" ng-model="data.tip" ng-pattern="/[0-9]/" placeholder="Tip"/>
                    </div>

                    <button type="submit">Submit</button>
                </form>
            </div>
            <div class="half-right">
                <div class="dark half-right-inner "> 
                    <h3>My Earnings Information</h3>
                    <p>Tip Total: {{ tiptotal | currency }}</p>
                    <p>Meal count: {{ mealcount }}</p>
                    <p>Average Tip: {{ averageTip | currency }}</p>
                </div>
                <div class="transaction dark half-right-inner half-right-inner-bottom" ng-if="total"> 
                        <h3>Customer Charges</h3>
                        <p>{{ subtotal | currency }} + {{ displayTip | currency }} = <strong>{{ total | currency }}</strong></p>
                </div>
            </div>
        </div>
    </div>
    <script src="main.js" type="text/javascript"></script>
</body>
</html>