body {
    background-color: rgb(54, 54, 54);  
    margin: 0px; 
}

header {
    position: fixed; 
    background-color: black; 
    padding: 20px 50px; 
    width: 100%; 
    color: white; 
}

header h1 {
    margin: 0px; 
    padding: 0px; 
}

#logo {
    position: relative; 
    top: 1px; 
    left: 3px; 
}

.half {
    display: inline-block; 
    width: calc(48%); 
    margin: 0px; 
    padding: 0px; 
    height: 100%; 
    border-radius: 5px; 
    overflow: hidden; 
}

.half-top {
    width: calc(100% - 100px); 
    padding: 10px 50px; 
    background-color: rgb(36, 36, 36); 
}

.half-bottom {
    width: calc(100% - 100px); 
    padding: 50px; 
}

.half-bottom-right {
    width: calc(100% - 100px); 
    padding: 30px 50px; 
}

.dark {
    background-color: rgb(27, 27, 27); 
    color: white; 
}

.half-right-inner {
    width: 100%; 
    border-radius: 5px;
    overflow: hidden;  
}

.half-right-inner-bottom {
    margin-top: 30px !important; 
}

.half-right {
    display: inline-block; 
    margin-left: 4%;
    width: 48%; 
    padding: 0px;  
}

.app {
    padding: 160px 100px;
    max-width: 1000px; 
    margin-left: auto; 
    margin-right: auto; 
}
.app h1 {
    text-align: center; 
    color: white; 
}

h1, h2, h3, p {
    font-family: arial; 
}

.transaction {
    margin-top: 50px; 
}

.error {
    color: rgb(206, 75, 75); 
    font-size: 16px; 
    margin-bottom: 10px; 
    margin-top: 0px; 
}

input { 
    padding: 10px 15px; 
    width: calc(100% - 30px); 
    border: 0px; 
    border-radius: 5px; 
    font-size: 16px; 
    margin-bottom: 20px; 
}

button {
    padding: 13px 30px; 
    background-color: rgb(27, 27, 27); 
    border: 3px solid rgb(255, 217, 0); 
    color: rgb(255, 217, 0); 
    font-size: 16px; 
    transition: 0.3s;
    cursor: pointer;  
    margin-right: 10px;
    margin-top: 20px;  
}

.total {
    margin-top: 30px;
    color: rgb(192, 192, 192);  
}

.details {
    text-decoration: underline;
    cursor: pointer; 
    transition: 0.3s; 
    margin-top: 20px;  
}

.details:hover {
    color: rgb(187, 187, 187); 
}

button:hover {
    background-color: rgb(255, 217, 0); 
    color: white; 
}

.container {
    display: flex; 
    align-items: top; 
}

@media screen and (max-width: 950px) {
    .container {
        display: block; 
        width: 100%; 
    }
    .half-right {
        display: block;
        margin-left: 0px; 
        width: 100%; 
        margin-top: 30px;  
    }
    .half {
        display: block;
        width: calc(100%);  
    }
}

@media screen and (max-width: 600px) {
    .app {
        padding: 130px 20px;
    }
}